################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskManagement.Api/bin/Debug/net8.0
/TaskManagement.Api/logs
/TaskManagement.Api/obj
/TaskManagement.Application/bin/Debug/net8.0
/TaskManagement.Application/obj
/TaskManagement.Domain/bin/Debug/net8.0
/TaskManagement.Domain/obj
/TaskManagement.Infrastructure/bin/Debug/net8.0
/TaskManagement.Infrastructure/obj
/TaskManagement.Tests/bin/Debug/net10.0
/TaskManagement.Tests/obj
/TaskManagement.Tests/bin/Debug/net8.0
